#backg {
    background-color: rgb(81, 183, 243);
}
header {
    padding: 50px;
}
.timer {
    align: center;
}
.module {
    background-color: grey;
    width: 100%;
    margin: 100px auto;
}
main{
    text-align: center;
}

.answer{
    color: rgb(170, 7, 7);
    border-bottom: 3px rgb(15, 15, 15) solid;
    font-size: 20px;
    padding-top: 200px;
}

.button, .choiceanswer {
    color: rgb(17, 20, 192);
    background-color: rgb(12, 160, 44);
    padding: 8px;
    margin: 8px auto;
    width: 100px;
    border-radius: 10px;
}